.clear:before, .clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

a#pull {
    display: none;
}

a#registro{
  display:block;
  color:#ff9900;
  font-size: 25px;
  text-decoration: none;
}
section a#registro:after{
  content: "";
  display: inline-block;
  position: absolute;

}
nav {
    height: 88px;
    width: 100%;
    background:
    -webkit-linear-gradient(left,#111,#252525 25%,#111);
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 40px;
    margin-top: 8px;

}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #FFF;
    width: 100px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    padding: 10px;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover, nav a:active {
    background-color: #ff9900;
}
#icons{
  margin: 10px;
}


body{
  background: #fefefe;
  font-family: "roboto_condensedregular";
  font-size: 16px;
  margin:0;
}

header nav .site-name{
  font-family:"lobsterregular";
  font-size:30px;
  color:#ff9900;
}

footer{
  background: #1d1d1d;
  color: #fefefe;
  text-align: center;
  font-size: 15px;
  padding: 1px;
  margin-top: 25px;
}
footer a{
  color: #ff9900;
}
@media only screen and (max-width : 600px) {
    nav {
        border-bottom: 0;
        height: auto;
    }

    nav ul {
        display: none;
        height: auto;
        width: 100%;
        margin-top: 5px;
    }

    nav li {
        width: 50%;
        float: left;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        text-decoration:none;
        display: inline-block;
        line-height: 40px;
        padding: 0px;
    }

    nav div div a#pull {
        display: block;
        background-color: #262626 ;
        width: 100%;
        position: relative;
        margin-top: 5px;
        color: #fefefe;

    }

    nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

header nav .site-name{
  font-family:"lobsterregular";
  font-size:30px;
  color:#ff9900;
  float: none;
}

section{
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

body{
  font-size: 18px;
}
h1{
  text-align: center;
  margin-top: 20px;
}

section .registrol{
  height: auto;
  background: #ffdda9;
  border-radius: 5px;
  padding:20px;
  width: auto;
  position: relative;
}
section .wrap{
  display: none;
}
